.view{
    width: 600px;
    /* border: 1px solid black; */
    margin: 0 auto;
    display: flexbox;
    align-items: center;
}

button{
    width: 80px;
    height: 25px;
    background-color: aqua;
    margin: 20px auto;
    align-items: center;    
    display: grid;
}


table{
    width: 100%;  
    border-collapse: collapse;  
}

td{
    text-align: center;
    border: 1px solid black;
}

th{
    border: 1px solid black;
    border-bottom : 3px solid black;
}

a{
    text-decoration: none;    
}

.addbank{
    width: 120px;
    margin: 20px auto;
}



.layer{
	background: rgba(219, 219, 219,0.7);
	opacity: 1;
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
}

.addbankform{
    width:500px;
	height:400px;
	z-index: 10;
	margin:0 auto;
	background: white;
	border:1px solid black;
	box-shadow: 8px 3px 60px;
	border-radius:8px;
	margin-top:20px;
}

.addclasstitle{
	height: 20px;	
}

.closer{
	width:30px;
	text-align: center;
	float:right;
	line-height: 25px;
	cursor: default;	
}

.closer:hover{
	color:red;
	background: gray;
	border-radius:8px;
}

.form>fieldset {
	width: 90%;
	margin: 5px auto;
	border-radius: 10px;
    height: 25px;
	overflow: hidden;
}

.form>fieldset>input {
	width: 98%;
	padding: 3px;
	border: none;
	outline: none;
	border-radius: 10px;
	font-weight: bold;
}

.form>fieldset>select {
	width: 98%;
	padding: 3px;
	border: none;
	outline: none;
	border-radius: 10px;
	font-weight: bold;
}


.btns{
	position:relative;
	top:5px;	
	width: 480px;
    margin: 0 auto;
    text-align: center;
    display: flex;
}

.btns>button{
	height: 25px;
	width:120px;
	background: #a3d9eb;
	border-radius: 2px;
}


.questions{
    width: 800px;
    margin: 0 auto;
}

tr>th:nth-child(1){
    width: 30%;
}

tr>th:nth-child(2),tr>th:nth-child(3),tr>th:nth-child(4),tr>th:nth-child(5){
    width: 15%;
}

tr>th:nth-child(6){
    width: 5%;
}

tr>th:nth-child(7){
    width: 5%;
}


tr>td:ntd-child(1){
    width: 30%;
}

tr>td:ntd-child(2),tr>td:nth-child(3),tr>td:nth-child(4),tr>td:nth-child(5){
    width: 15%;
}

tr>td:nth-child(6){
    width: 5%;
}

tr>td:nth-child(7){
    width: 5%;
}


/* result */
.result{
    width: 100%;
    display: flex;
	margin: 10px 0;
	text-align: center;
}

.blck{
    width: 33.33333%;
}

.hd{
    font-weight: bold;
}