*{
    margin: 0%;
    padding: 0;
}
.view{
    width: 800px;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}


.btns{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 30px auto;
}

.btns>a{
    margin: 20px 0;
    text-decoration: none;
}


.adlogin{
    width: 500px;
    margin: 200px auto;

}

.adlogin>fieldset{
    width: 80%;
    margin: 5px auto;
    border-radius: 5px;
}

.adlogin>fieldset>input{
    width: 98%;
    border: none;
    outline: none;
    text-align: center;
}

.title{
    text-align: center;
    font-weight: bold;
}

button{
    width: 80px;
    margin: 18px 210px
}