.navbar{
    width:800px;
    margin: 0 auto;
}

.menu{
    margin: 10px auto;
    list-style: none;
    display: flex;
    width: fit-content;
    text-align: center
}

.menu>li{
    list-style: none;
    padding: 0 10px;
}

.menu>li>a{
    text-decoration: none;
    font-weight: bold;
}

.menu>li>a:hover{
    color: red;
}
